@media screen and (max-width:1670px) {
  .image img {
    width: 200px !important;
  }

}
@media screen and (max-width:1520px) {

  .LedProduct {
    width: 70% !important;
  }
  .image {
    width: 30%;
  }
  .LedProduct h2 {
    font-size: 12px;
  }
  .send-btn img {
    width: 80%;
  }
  .square {
    width: 72%;
  }
}
@media screen and (max-width:1470px) {
  .image img {
    width: 150px !important;
  }
  .LedProduct {
    width: 76% !important;
  }
  .image {
    width: 24%;
  }
  .LedProduct h2 {
    font-size: 10px;
  }
  .send-btn {
    width: 50%;
  }
}
